@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Nothing+You+Could+Do&family=Roboto+Mono:wght@200;300;400&family=Roboto:wght@300&display=swap');


body {
	background-color: white;
}

h1 {
	font-family: 'Nothing You Could Do';
	font-size: 40px;
	margin-top: -25px;
}

p,a {
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

li {
	list-style: none;
	font-size: 48px;
	display: inline;
	margin: 12px;
	padding-left: 0px;
}

img {
	width: 170px;
	border-radius: 50%;
}

a:hover {
	color: #B1B2FF;
}

div {
	width: 500px;
	background-color: #EEF1FF;
	border-radius: 6px;
	box-shadow: 10px 20px 30px rgba(30, 30, 30, 0.3);
	margin:32px;
	padding: 16px;
	text-align: center;
}

ul {
	padding-left: 0px;
}

/*Custom design*/

/*Classes*/


.btn-blue {
	background-color: #B1B2FF;
	color: white;
	padding: 12px 24px;
	border-radius: 10px;
	border: 4px double #cccccc;
	display: inline-block;
}


.btn-blue:hover {
	background-color: white;
	color: #B1B2FF;
	transition: 0.3s
}

.card-white {
	background-color: white;
	border-radius: 6px;
	box-shadow: 10px 20px 30 px rgba(30, 30, 30, 0.3);
	margin: 30px;
	padding: 65px;
	text-align: center;
}


.container {
	width: 700px;
	margin: 0 auto;
}


@media (max-width: 900px){
	.container{
		width: 270px; 
	}
}

@media (max-width: 500px){
	.container{
		width: 250px;
	}
}

@media (max-width: 900px){
	.card-white{
		width: 270px; 
	}
}

@media (max-width: 500px){
	.card-white{
		width: 150px;
	}
}




